{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>JDRF MIBC Release</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'bootstrap/css/jumbotron.css' %}" rel="stylesheet">
  <link href="{% static 'css/jdrf.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/download.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/validator.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: #e3ede4" href="/">JDRF MIBC</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if not user.is_authenticated %} <li><a href="/login">Login</a></li> {% endif %}
          <li><a href="/metadata">Upload Metadata</a></li>
          <li><a href="/upload">Upload Raw Data</a></li>
          <li><a href="/process">Process</a></li>
          <li><a href="/download">Files</a></li>
          <li class="active"><a href="/release">Release</a></li>
          <li><a href="/about">About</a></li>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <form class="navbar-form navbar-right" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="btn btn-success" style="background: #11511b" type="submit">Logout</button>
        </form>
        {% endif %}
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container" style="background: url('{% static 'img/cropped-nature_microbiome2_darken50-1.jpg' %}') no-repeat center">
      <img src="{% static 'img/hutlab_jdrf_logo_small_border_red.png' %}" heigh=100 width=125>
    </div>
  </div>

  <div class="container">
    <h2>Release</h2>
    <p>The files associated with projects that have been released internally are shown on this page. Click on a file to
      download.</p>

    <div class="container">
      <div class="row" style="margin-right: 0px !important">
        <h3>Released Project Files</h3>
        <table class="table">
          <tr>
            <th class="width_75">File</th>
            <th class="width_5">Size</th>
            <th class="width_20">Timestamp</th>
          </tr>
          {% if release_files %}
            {% for name, file, size, mtime in release_files %}
              <tr>
                <td><a name="{{ name }}" href="{% url 'download_file' file %}">{{ name }}</a></td>
                <td>{{ size }}</td>
                <td>{{ mtime }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="no-files-row" colspan="3">No released project files are currently available.</td>
            </tr>
          {% endif %}
        </table>
        </p>
      </div>
    </div>
  </div>

  </div> <!-- /container -->
</body>

</html>
